<!DOCTYPE html>
<html>
<head>
    <title>Chat em tempo real</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {{{body}}}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>