<main>
    <div class="bg-[#402E58] w-1/4 h-screen px-5">
        <div class="flex flex-col items-center justify-center">
            <div class="w-full flex items-center gap-4 mt-4">
                <input type="text" class="bg-[#35234E] outline-none pl-2 py-[5px] rounded-xl text-white placeholder-white text-xs w-full">
                <button class="bg-[#35234E] py-[3px] px-[5px] rounded-xl text-white">+</button>
            </div>

            <div class="h-[1px] w-full bg-[#35234E] mt-5"></div>

        <div class="flex flex-col w-full gap-2">
            
            <div class="w-full bg-[#35234E] rounded-md mt-10 px-4 py-2 hover:opacity-85 hover:cursor-pointer"> 
                <div class="w-full flex items-center justify-between">
                    <div class="w-12 h-12 bg-white rounded-full border-[1px] border-black"></div>
                    <div class="w-[60%]">
                        <p class="text-sm font-bold text-white">Odair</p>
                        <p class="text-xs text-red-500">off-line</p>
                    </div>
                    <div class="">
                        <div class="flex flex-col">
                            <p class="text-xs py-[1px] px-[6px] bg-green-300 rounded-full">2</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full bg-[#35234E] rounded-md px-4 py-2 hover:opacity-85 hover:cursor-pointer"> 
                <div class="w-full flex items-center justify-between">
                    <div class="w-12 h-12 bg-white rounded-full border-[1px] border-black"></div>
                    <div class="w-[60%]">
                        <p class="text-sm font-bold text-white">Lucas</p>
                        <p class="text-xs text-green-500">on-line</p>
                    </div>
                    <div class="">
                        <div class="flex flex-col">
                            <p class="text-xs py-[1px] px-[6px] bg-green-300 rounded-full">7</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full bg-[#35234E] rounded-md px-4 py-2 hover:opacity-85 hover:cursor-pointer"> 
                <div class="w-full flex items-center justify-between">
                    <div class="w-12 h-12 bg-white rounded-full border-[1px] border-black"></div>
                    <div class="w-[60%]">
                        <p class="text-sm font-bold text-white">Nathan</p>
                        <p class="text-xs text-green-500">on-line</p>
                    </div>
                    <div class="">
                        <div class="flex flex-col">
                            <p class="text-xs py-[1px] px-[6px] bg-green-300 rounded-full">1</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            </div>
        </div>
    </div>
    
    <div>

    </div>
</main>