<div class="chat-container">
    <div id="messageLogs"></div>
    <div class="input-container">
        <input type="text" id="chatBox" placeholder="Digite sua mensagem...">
        <button onclick="sendMessage()">Enviar</button>
    </div>
</div>